@media screen and (max-width:480px) {

    .yuu{
        text-align: center;
    }

   .rinku1{
    text-decoration: none;
    color: #E0C38C;
    font-size: 15px;
   } 

   .rinku2{
    text-decoration: none;
    color: #E0C38C;
    font-size: 15px;
   }

   .gu{
    padding-top: 30px;
    padding-bottom: 30px;
   }

   .gu img{
    width: 50%;
   }

   .manga{
    
   }

   .manga img{
    width: 50%;
    padding-bottom: 30px;
   }

   .hurugi{
   }

   .hurugi img{
    width: 50%;
    padding-bottom: 30px;
   }

   .moji1{
    padding: 30px;
   }

   .moji2{
    display: none;
   }

   .nimaime{
    padding: 60px 0px 60px 0px;
   }

}

@media screen and (min-width:481px) {

    .yuu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 100px 0px 150px 0px;
    }

    .myprofile{
        text-align: center;
    }

    .myfavorite{
        text-align: center;
    }

    .gu img{
        width: 60%;
        padding-top: 30px;
    }

    .rinku1{
        text-decoration: none;
        color: #E0C38C;
    }
    
    .rinku2{
        text-decoration: none;
        color: #E0C38C;
    }    

    .manga{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .manga img{
        width: 15%;
    }
    
    .hurugi{
        width: 100%;
        padding-top: 120px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .hurugi img{
        width: 15%;
    }

    .moji1{
        display: none;
    }

    .nimaime{
        padding: 100px 0px 120px 0px;
    }

    .korokoro{
        padding-top: 50px;
    }

    .sukinamono{
        padding-top: 70px;
    }

}

.img-box{
    width:30%;
}
.img-box img{
    width: 100%;
}

.korokoro{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center
}

.moji{
    color: #E0C38C;
    font-family: 'Noto Serif';
}

body{
    background-color:#5B7E91;
}

a{
    font-size: 20px;
    color: #E0C38C;
    text-align: center;
    font-family: 'Noto Serif';
    font-weight: bold;
}

li{
    list-style: none;
    color: #E0C38C;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Noto Serif';
    padding-top: 20px;
}

header{
    background-color: #E0C38C;
    display: flex;
    flex-direction: row;
    font-family: 'Noto Serif';
    color: #5B7E91;
    align-items: center;
    padding: 0px 10px;
}

.header-list{
    display: flex;
    flex-direction: row;
}

.header-logo{
    width: 3%;
    padding-right: 10px;
}

.header-logo img{
    width: 100%;
}

h1{
    font-size: 14px;
    padding: 0px 20px 0px 0px
}

footer{
    background-color: #E0C38C;
    display: flex;
    justify-content: center;
}

.insta{
    width: 5%;
}

.insta img{
    width: 60%;
    display: flex;
    justify-content: center;
}

.insta img:hover{
    transform: scale(1.1, 1.1);
}

.rinku1:hover{
    color:#e6b422;
    text-decoration: none;
}

.rinku2:hover{
    color:#e6b422;
    text-decoration: none;
}

.linku{
    text-decoration: none;
    color: #E0C38C;
}

.linku:hover{
    color:#e6b422;
    text-decoration: none;
}

.itimaime{
    padding: 50px 0px 50px 0px;
}

.annnai{
    padding-bottom: 50px;
    text-decoration: none;
    text-align: center;
}

.anan{
    text-decoration: none;
}

.anan:hover{
    color:#e6b422;
    text-decoration: none;
}

#title1{
    color: #E0C38C;
    font-family: 'Noto Serif';
    text-align: center;
    font-size: 30px;
}

#title2{
    color: #E0C38C;
    font-family: 'Noto Serif';
    text-align: center;
    font-size: 30px;
}

#mokuji{
    padding-top: 50px;
}


.img-box{
    width:30%;
}
.img-box img{
    width: 100%;
}

.korokoro{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    padding-top: 70px;
}

.moji{
    color: #E0C38C;
    font-family: 'Noto Serif';
}

.sukinamono{
    padding-top: 70px;
}

.manga{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.manga img{
    width: 15%;
}

.hurugi{
    width: 100%;
    padding-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.hurugi img{
    width: 15%;
}

.me{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 100px;
}

.gu{
    width: 30%;
    padding: 0px 40px;
}
.gu img{
    width: 100%;
}

body{
    background-color:#5B7E91;
}

.myname{
    padding-top: 100x;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Noto Serif';
    color: #E0C38C;
}

a{
    font-size: 20px;
    color: #E0C38C;
    text-align: center;
    font-family: 'Noto Serif';
    font-weight: bold;
    padding-top: 30px;
}

.title1{
    display: flex;
    justify-content: center;
}

li{
    list-style: none;
    color: #E0C38C;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Noto Serif';
    padding-top: 20px;
}

header{
    background-color: #E0C38C;
    display: flex;
    flex-direction: row;
    font-family: 'Noto Serif';
    color: #5B7E91;
    align-items: center;
    padding: 0px 10px;
}

.header-list{
    display: flex;
    flex-direction: row;
}

.header-logo{
    width: 3%;
    padding-right: 10px;
}

.header-logo img{
    width: 100%;
}

h1{
    font-size: 14px;
    padding: 0px 20px 0px 0px
}

footer{
    background-color: #E0C38C;
    display: flex;
    justify-content: center;
}

.insta{
    width: 5%;
}

.insta img{
    width: 60%;
    display: flex;
    justify-content: center;
}

.insta img:hover{
    transform: scale(1.1, 1.1);
}

.rinku1{
    text-decoration: none;
    padding-left: 0px;
    padding-right: 200px;
    padding-top: 80px;
    padding-bottom: 30px;
    color: #E0C38C;
}

.rinku2{
    text-decoration: none;
    padding-left: 130px;
    padding-right: 0px;
    padding-top: 80px;
    padding-bottom: 30px;
    color: #E0C38C;
}

.rinku1:hover{
    color:#e6b422;
    text-decoration: none;
}

.rinku2:hover{
    color:#e6b422;
    text-decoration: none;
}

.linku{
    text-decoration: none;
    color: #E0C38C;
}

.linku:hover{
    color:#e6b422;
    text-decoration: none;
}

.mokuji{
    padding: 50px 0px 50px 0px;
}

.itimaime{
    padding: 50px 0px 50px 0px;
}

.nimaime{
    padding: 100px 0px 120px 0px;
}

.annnai{
    padding-bottom: 50px;
    text-decoration: none;
    text-align: center;
}

.anan{
    text-decoration: none;
}

.anan:hover{
    color:#e6b422;
    text-decoration: none;
}

#title1{
    color: #E0C38C;
    font-family: 'Noto Serif';
    text-align: center;
    font-size: 30px;
}

#title2{
    color: #E0C38C;
    font-family: 'Noto Serif';
    text-align: center;
    font-size: 30px;
}

#mokuji{
    padding-top: 50px;
}


